<div class="wrapper-md">
    <div class="input-group" ng-form name="taskForm">

        <input type="text" ng-model="ctrl.task.task" class="form-control" placeholder="Wpisz nazwe nowego zadania" required>
        <span class="input-group-btn" >
            <button ng-disabled="taskForm.$invalid" ng-click="ctrl.addTask()" class="btn btn-default" type="button">Dodaj zadanie!</button>
        </span>



    </div>

    <span class="alert-danger" ng-show="taskForm.$dirty && taskForm.$invalid" ><p style="font-size:130%;">Nazwa jest wymagana!</p></span>

</div>


<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">Tasks list</div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>task</th>
                <th>name</th>
                <th>date</th>
                <th>priority</th>
                <th>status</th>
                <th>delete
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ctrl in ctrl.tasks">
                <td editable-text="ctrl.task" onaftersave="ctrl.updateTask()">{{ctrl.task}}</td>
                <td editable-text="ctrl.name" onaftersave="ctrl.updateTask()">{{ctrl.name}}</td>
                <td editable-text="ctrl.date" onaftersave="ctrl.updateTask()">{{ctrl.date}}</td>
                <td editable-text="ctrl.priority" onaftersave="ctrl.updateTask()">{{ctrl.priority}}</td>
                <td editable-text="ctrl.status" onaftersave="ctrl.updateTask()">{{ctrl.status}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>