<div class="wrapper-md">
    <div class="input-group">

        <input type="text" ng-model="ctrl.task.name" class="form-control" placeholder="Wpisz nazwe nowego zadania">
        <span class="input-group-btn">
            <button ng-click="ctrl.addTask()" class="btn btn-default" type="button">Dodaj zadanie!</button>
        </span>
    </div>
</div>


<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">Tasks list</div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>task</th>
                <th>name</th>
                <th>date</th>
                <th>priority</th>
                <th>status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ctrl in ctrl.tasks">
                <td>{{ctrl.task}}</td>
                <td>{{ctrl.name}}</td>
                <td>{{ctrl.date}}</td>
                <td>{{ctrl.priority}}</td>
                <td>{{ctrl.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>